@tailwind base;
@tailwind components;
@tailwind utilities;



* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
	background-color: #d1caca;
	margin: 0;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
 	text-align: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }

input:focus {
	outline: none;
}

::-webkit-scrollbar {
    display: none;
}